#main-header img{
    height: 100%;
    width: 100%;
}
#main-header .bg-black{
    color: white;
    background: black;
}
#main-header .menu-item{
    width: 30%;
}
#main-header .menu-item:hover{
    opacity: 0.8;
    cursor: pointer;
}
table,th,td{
    border: 0.5px solid #000;
    border-collapse: collapse;
}
@media(min-width:720px) {
    .menu-item {
      padding: 3em !important;
    }
  }
@media(min-width:1280px) {
    .menu-item {
      padding: 3em !important;
    }
  }
@media(min-width:1199px) {
    .menu-item {
      padding: 3em !important;
    }
  }